<%= render "shared/second-header"%>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>新規登録</h2>

    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @user, url: user_registration_path, local: true do |f|%>
        <%= render 'shared/error_messages', model: f.object %>
        <div class='field'>
          <div class='field-label'>
           <label class="form-text">テナント名</label>
           <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :company_name, placeholder:"例) （株）div", maxlength:"40",autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label class="form-text">電話番号</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :phone_number, placeholder:"例）0120123456",maxlength:"11",autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label class="form-text">メールアドレス</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, placeholder:"PC・携帯どちらでも可"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label class="form-text">パスワード</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, placeholder:"6文字以上の半角英数字",autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <label class="form-text">パスワード(確認)</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, placeholder:"同じパスワードを入力して下さい", autocomplete: "off"%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "新規登録", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer"%>